//- Use the presentation layout so we can keep this clean
extends layouts/presentation

//- Customize the title, meta description, and author using this block.
block append config
  -
    config.title = 'Coshx reveal.js + Pug - The HTML Presentation Framework';
    config.description = 'A framework for easily creating beautiful presentations using HTML by @hakimel. Ported to Pug by @jlengstorf.';
  -

//- Add your slides here. See templates/includes/_mixins.pug for information
//- on how `+slide` works.
block slides
  +slide
    h1  Ruby, Rails, & some puppet
    ul
      li Instructor: Ben Taitelbaum
      li Slides:
        a(href="https://coshx.com/talks") https://coshx.com/talks
      li Completed Labs:
        a(href=" https://github.com/btaitelb/ruby_rails_puppet_training") https://github.com/btaitelb/ruby_rails_puppet_training

  +slide
    h1.two-column Course Flow
    ol.column-one.left-justified.start
      li Ruby
        ol
          li Build a game in Ruby
          li Package the game as a gem
          li Expose some logic via the server
      li Rails
        ol
          li Configure & manage
          li Graphical front-end
          li Persistent Storage
    ol.column-two.left-justified.continue
      li Puppet
        ol
          li this
          li that
          li the other
      li other stuff
        ol
          li this
          li that
          li the other

  +slide
    h1 Philosophy
      h2 Principle of Least Surprise
        blockquote.quote I believe people want to express themselves when they program. They don’t want to fight with the language. Programming languages must feel natural to programmers. I tried to make people enjoy programming and concentrate on the fun and creative part of programming when they use Ruby.
          footer Yukihiro “Matz” Matsumoto, created ruby in 1993
