/**
 *  These are custom styles we can use in the slides themselves,
 *  via markdown like:
 *
 *  # (.section) A special slide title
 *
 *  - (.hideAnswers) What languages is this?
 *    - (.answer) Markdown
 *    - (.answer) Sass
 **/

.slideshow .slide {
  $red: #cc0000;
  $light-red: #e9bdbe;
  $light-yellow: #fffecb;
  $green: #0c8f0c;
  $light-blue: #b3b5ff;
  $pink: #e05fde;
  $orange: #ea7712;

  &.section h1 {
    background-color: $red;
    margin-bottom: 5em;

    & + * {
      margin-top: 10vh;
    }
  }
  h2.section {
    @include span-columns(8);
    float: none;
    background-color: $light-red;
  }

  &.lab {
    h1 {
      background-color: $green;
    }
    h2.section {
      @include span-columns(8);
      background-color: $light-blue;
      float: none;
    }
  }

  &.review {
    h1 {
      background-color: $pink;
    }
  }

  &.reference {
    h1 {
      background-color: $orange;
    }
  }

  .hideAnswers .answer {
    background-color: $light-yellow;
    color: $light-yellow;

    &:hover {
      color: $black;
    }
  }

  .notes {
    @extend .no-bullet;
     /* TODO: when we get a print layout,        */
     /*       only show notes in the print media */
    font-size: 1.4rem !important;
    position: absolute;
    display: block;
    bottom: 6vh;
  }


  &.shift-1 > :not(h1), &:not(.shift-1) .shift-1 {
    @include shift(1);
  }
  &.shift-2 > :not(h1), &:not(.shift-2) .shift-2 {
    @include shift(2);
  }
  &.shift-3 > :not(h1), &:not(.shift-3) .shift-3 {
    @include shift(3);
  }
}
